<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<style>
  .bg-dark {
    background-color: #C9E1F2 !important;
  }

  .navbar-brand,
  .nav-link,
  #user,
  .navbar-toggler-icon {
    color: #000 !important;
  }

  ::-webkit-scrollbar {
    width: 0;
  }

  [type=search] {
    outline-offset: 0px !important;
  }

  .nav-item {
    align-items: center;
    min-width: 75px;
  }

  #user {
    width: 80px;
    height: 50px;
    overflow: hidden;
  }
</style>

<nav class="navbar navbar-expand-lg bg-dark navbar-dark container-fluid" style="position: relative;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">COOK CREATIVE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" id="sign_in">
          <a class="nav-link" href="/user/login">Sign In</a>
        </li>
        <li class="nav-item" id="sign_up">
          <a class="nav-link" href="/user/register">Sign Up</a>
        </li>
      </ul>
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchQuery"
        id="searchQuery">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="reloadData()">Search</button>
      <a href="/user/profile" id="user" style="text-decoration: none; color: #fff; padding-left: 20px;">Hi! user</a>
    </div>
  </div>
</nav>


<script>
  function reloadData() {
    $(document).ready(function () {
      $('#recipieContainer')[0].innerHTML = ''
      let searchQuery = document.getElementById('searchQuery').value
      let temp = searchQuery
      let flag = false
      searchQuery = searchQuery.split(' ')
      $.getJSON('/recipe/all', async function (data) {
        if (temp == '') flag = true
        let i = 0;
        while (data[i] != undefined) {
          let j = 0;
          while (data[i].ingredients[j] != undefined) {
            let k = 0;
            while (searchQuery[k] != undefined) {
              if (data[i].ingredients[j] == searchQuery[k] || flag) {
                let newPro = `
                  <a href="/recipe/detail/${data[i]._id}">
                    <div class="recipe" id="${data[i]._id}">
                        <div class="card_left">
                            <img class="card-img-top" src="data:image/png;base64,${data[i].image}" alt="Card image cap">
                        </div>
                        <div class="card_right">
                            <div class="card-body">
                                <h5 class="card-title">${data[i].name}</h5>
                                <div class="card-text" id="ingredients-${data[i]._id}"></div>
                            </div>
                            <div class="card-footer">
                                <div class="card-text" id="description-${data[i]._id}"></div>
                            </div>
                        </div>
                    </div>
                  </a>
                ` 
                data[i].description = data[i].description.split('\n')
                await $('#recipieContainer').append(newPro)
                for(let j=0; j<data[i].ingredients.length; j++) {
                    await $(`#ingredients-${data[i]._id}`).append(`<p>${data[i].ingredients[j]}</p>`)
                }
                for(let j=0; j<data[i].description.length; j++) {
                    $(`#description-${data[i]._id}`).append(`<p>${data[i].description[j]}</p>`)
                }
              }
              k++;
            }
            j++
          }
          i++
        }
      })
    });
  }
</script>